


<html>
  <head>
    <title>Page Title. Maximum length 60-70 characters</title>
    <meta name="description" content="Page description. No longer than 155 characters.">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

  </body>
</html>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpuyx30vh/image/upload/v1702979334/paris_xugwy7.jpg);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpuyx30vh/image/upload/v1702932029/duomo_fjkhj4.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>




<h1> </h1>
<h2>
I AM A DEVELOPER AND UX/UI

DESIGNER BASED IN ITALY. I HAVE MANY YEARS OF
EXPERIENCE IN CONSULTING IN ALL AREAS OF
DIGITAL. I LOVE MINIMAL AND BRUTALIST DESIGN. I
LOVE NATURE, PIZZA AND ART. </h2>
