.banner {
  background-size: cover;
  background-position: center;
  padding: 150px;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 32px;
  position: absolute;
  top: 50%; /* Adjust as needed */
  right: 100px; /* Adjust as needed */
  transform: translateY(20%);
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
